body {

    background-color: #F8F8FF;

}

.padding
{


padding-left: 200px;
padding-right: 100px;
}

.nav-item
{
  padding-left: 20px;
  font-size:10;

}

.navbar-brand
{
  padding-right: 50px;

}

.logcard
{
  height: 800px;
  margin-left:35%;

}



.card1{
  padding: 100px;
}

.textup
{
  text-align: center;
  font-family: monospace;


}

.texttitle
{

  font-family: monospace;


}

.desc
{
  font-size: 13px;
}

.card-img {
    width: 100%;
    height:100%;
    }

#top1
{
  height:100%;
  width: 100%;
  down:0;


  background-color:lightgrey;
}

.leftin
{
  margin-left:30%;
}

.textformat
{
    margin-left:400px;
}
.details
{
  font-size: 15px;
}

h6.alert
{
  text-align: center;
}

.card
{
  background-color:  lightgrey;
}

#indexcard
{
  background-color:   #F8F8FF;
}
.comment
{
  font-size: 13px;
  font-weight: bold;
}

.comments
{
  font-size: 14px;

}

#log
{
  background-color: white;
}

#register
{
    background-color: white;
}



#create
{
    height: 800px;
    margin-left:25%;
    background-color: white;
}
